<ol class="breadcrumb">
    <li>
        <%= page.title %>
    </li>
    <li>
        <%= page.description %>
    </li>
</ol>
<% page.posts.forEach(function(post){ %>
    <%
        var imageUrls = [post.img];
        if (imageUrls.length > 0) {
            var urls = lazyImage(post);
            if (urls && urls.length > 0) {
                imageUrls = urls.length > 3 ? urls.splice(0, 3) : urls;
            } else if (theme.defaultImgs && theme.defaultImgs.length > 0) {
                var urls2 = theme.defaultImgs;
                var random2 = Math.floor(Math.random() * (urls2.length));
                imageUrls = [(urls2.length > 0 && urls2[random2])] || '';
            }
        }
    %>
    <article class="post news" id="<%= md5(post.link) %>">
        <div class="post-content">
            <header class="post-head home-post-head">
                <div class="title">
                    <img src="<%= post.icon %>" alt="">
                    <a href="<%= post.link %>" target="_blank"><%- post.author %></a>
                    发表了
                    <span><a href="<%= post.link %>" target="_blank"><%- post.title %></a></span>
                </div>
                <div class="post-meta"> &bull;
                    <time class="post-date" datetime="" title="">
                        <%- date(post.date, "YYYY年MM月DD日") %>
                    </time>
                </div>
            </header>
            <%
                imageUrls = imageUrls.filter(url => (!!url));
            if(imageUrls){
            %>
                <div class="">
                    <a href="<%- post.link %>" target="_blank">
                        <% imageUrls.forEach((imgUrl) => { %>
                            <img src="<%= imgUrl %>"
                                 onerror="setDefaultImage()"
                                 alt="<%- post.title %>">
                        <%
                        })
                        %>
                    </a>
                </div>
            <% } %>
            <p class="brief">
                <% if(post.excerpt) { %>
                    <%= truncate(strip_html(post.excerpt), {length: 200, separator: ''}) + '…' %>
                <% } else { %>
                    <%= truncate(strip_html(post.content), {length: 200, separator: ''}) %>
                <% } %>
            </p>
        </div>
        <% if(theme.homePanel) { %>
            <footer class="post-footer clearfix">
                <div class="pull-left tag-list">

                </div>
                <div class="post-permalink">
                    <a href="<%= post.link %>" target="_blank">
                        <%= __('read_more') %></a>
                </div>
            </footer>
        <% } %>
    </article>
<% }) %>
<%- partial('_partial/pagination') %>
